* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  font-family: system-ui;
}


header span {
  width: 100%;
  display: inline-block;
  font-weight: bold;
  text-align: center;
  padding: 10px 0;
  font-size: 30px;
}

.changelog ul {
  width: 100%;
  display: flex;
  flex-direction: column;
  gap: 20px;
  margin-top: 20px;
  text-align: center;
  position: relative;
  list-style: none;
}

.changelog ul::before {
  content: '';
  height: calc(100% + 10px);
  width: 4px;
  background: black;
  position: absolute;
  left: 50%;
  transform: translateX(-2px);
}

  .changelog ul li {
    width: 20px;
    height: 20px;
    background: black;
    border-radius: 50%;
    margin: 0 auto;
    position: relative;
  }
  .changelog ul li span {
    position: absolute;
    left: -55px
  }
  
  .changelog ul li p {
    position: absolute;
    right: -25px;
  }